// Specific CSS for your home-page
html {
  height: 100%;
  width: 100%;
  background: #97D8C4;
}

.container {
  background-color: #97D8C4;
}
.homepage {
  text-align: center;
}

.home-title {
  font-family: 'Titan One', cursive;
  color: #FDFAFA;
  font-size: 55px;
  padding-top: 50px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #225948;
}

.slogan {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  color: #FDFAFA;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  position: absolute;
  left: 120px;
  top: 600px;
  font-family: 'Open Sans', sans-serif;
  font-weight:700;
  font-style: italic;
  background: linear-gradient(#FEA670, #ee7e39);
  border: 3px solid #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  text-decoration: none;
}

.center {
  //margin-top: 450px;
  text-align: center;
}

.btn-gradient:active {
  opacity: 0.5;
}
