

.toilet-title-show {
  font-size: 30px;
  font-family: 'Titan One', cursive;
  padding-top: 30px;
  color: white;
}

.directions-button {
  position: absolute;
  top: 51%;
  left: 67%;
  padding: 20px;
  height: 20px;
}
