<div class="container">
  <div class="homepage">
    <h1 class="home-title">loo.send</h1>
    <h2 class="slogan">The #1 and #2 app</h2>
  </div>
  <div class="bigdiv">
  <div id="pin"> <img src="https://cdn-icons-png.flaticon.com/512/684/684908.png" alt="pin"></div>
      <div class='div-toilet' id='toilet-leg'></div>
      <div class='div-toilet' id='toilet-tank'></div>
      <div class='div-toilet' id='toilet-tank-lid'></div>
      <div class='div-toilet' id='flush-lever'></div>

      <div class='div-toilet' id='toilet-bowl'></div>
      <div class='div-toilet' id='toilet-lid'></div>
      <%= image_tag "watersplash.png", class: "waterimg" %>
      <div class='div-toilet' id='toilet-bowl-overlay'></div>
  </div>
  <div class="center">
    <a href="/toilets" class="home-button noHover">Find a toilet</a>
  </div>
</div>
