<%= render "shared/banner" %>
<div class="container">
<h3><strong>All Toilets</strong></h3>

<%= form_with url: venues_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a venue"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
