.container-login {
  padding: 10px 20px;
  border-radius: 3px;
  background:#97D8C4;
  text-decoration: none;
  padding-top: 50px;
  h2 {
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    color:#31755F;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn-primary {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
    background:#31755F;
    border: 3px solid #FFFFFF;
  }

  a {
    text-decoration: none;
    color:black;
  }
}
