<div class=“container”>
  <h3><strong><%= "#{@review.user.email.capitalize}, you left a review for #{@review.toilet.name}" %></strong></h3>
  <ul>
    <li><%= "Rating: #{@review.rating}" %></li>
    <li><%= "Content: #{@review.comment}" %></li>
  </ul>
  <%= link_to "Homepage", root_path %>
</div>
